body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.stars{
  background-color: #fde16d;
  font-size: 40px;
  border-radius: 30px;
}
.favourite{
  font-size: 70px;

}
span:hover {
  background-color: yellow;
}

/*
.navbar-default {
  background-color: #DA6969;
}*/
