<div class="jumbotron text-center">
    <h1>Update a Coffee</h1>
    <p>{{ message }}</p>
    <!--<p>{{coffee.name}}</p>-->


    <div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <form ng-submit="updateCoffee(coffee._id)"
                      style="margin-top:30px;" ng-controller="updateController">

                    <div class = "form-group" align = "center">Favourtie<div class=rating>
                     <span id="star-toggle" class="favourite glyphicon glyphicon-star gi-3x"  style="color:blue">
                               </span>

                    </div>

                    <div class="form-group">
                        <label class="control-label" for="focusedInput">Coffee Name</label>
                        <input ng-model="coffee.name" class="form-control" id="focusedInput" type="text">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="inputDefault">Coffee Shop</label>
                        <input ng-model="coffee.shop" class="form-control" id="focusedInput" type="text">
                    </div>



                    <div class="form-group" align="center">
                        <input type="number"
                               class="form-control"
                               placeholder="Amount"
                               ng-model="coffee.amount"
                               ng-style="{'width': 100 + 'px'}"></input>
                    </div>



                        <div class="form-group">

     <!--
                            <button type="button" class="btn btn-default btn-lg">{{coffee.upvotes}}
                    <span class="glyphicon glyphicon-star" aria-hidden="true"
                          ng-click="incrementUpvotes(coffee._id)"></span>
                            </button>

                            <button type="button" class="btn btn-default btn-lg">{{coffee.upvotes}}
                    <span class="glyphicon glyphicon-star" aria-hidden="true"
                          ng-click="incrementUpvotes(coffee._id)"></span>
                            </button>

                            <button type="button" class="btn btn-default btn-lg">{{coffee.upvotes}}
                    <span class="glyphicon glyphicon-star" aria-hidden="true"
                          ng-click="incrementUpvotes(coffee._id)"></span>
                            </button>-->


                        </div>

                   <!-- <div class = "form-group" align = "center">Star Rating <div class=rating>
                            <div class="stars">
                <span id="star-toggle5" class="glyphicon glyphicon-star gi-3x"  style="color:blue">
                               </span>
                 <span id="star-toggle4" class="glyphicon glyphicon-star gi-3x"  style="color:blue ">
                               </span>
                 <span id="star-toggle3" class="glyphicon glyphicon-star gi-3x"  style="color:blue ">
                               </span>
                 <span id="star-toggle4" class="glyphicon glyphicon-star gi-3x"  style="color:blue " >
                               </span>
                 <span id="star-toggle5" class="glyphicon glyphicon-star gi-3x"  style="color:blue " >
                               </span>
                        </div>
                    </div>
                        </div>-->





                        		<span class="form-group">User Rating:
					<div>
                        <i ng-class="getRating(1)" ng-click="updateRating(1)" ng-mouseenter="starHoverIn(1)"
                           ng-mouseleave="starHoverOut()"></i>
                        <i ng-class="getRating(2)" ng-click="updateRating(2)" ng-mouseenter="starHoverIn(2)"
                           ng-mouseleave="starHoverOut()"></i>
                        <i ng-class="getRating(3)" ng-click="updateRating(3)" ng-mouseenter="starHoverIn(3)"
                           ng-mouseleave="starHoverOut()"></i>
                        <i ng-class="getRating(4)" ng-click="updateRating(4)" ng-mouseenter="starHoverIn(4)"
                           ng-mouseleave="starHoverOut()"></i>
                        <i ng-class="getRating(5)" ng-click="updateRating(5)" ng-mouseenter="starHoverIn(5)"
                           ng-mouseleave="starHoverOut()"></i>
                    </div>
				</span>

                        <div class="gorm-group">
                            <i class='fa fa-star' ng-style="displayRatingRepeat(shop, 1)"></i>
                            <i class='fa fa-star' ng-style="displayRatingRepeat(shop, 2)"></i>
                            <i class='fa fa-star' ng-style="displayRatingRepeat(shop, 3)"></i>
                            <i class='fa fa-star' ng-style="displayRatingRepeat(shop, 4)"></i>
                            <i class='fa fa-star' ng-style="displayRatingRepeat(shop, 5)"></i>
                        </div>




                    <button type="submit" class="btn btn-primary">Update Coffee</button>
                </form>

            </div>
        </div>

    </div>
</div>


